{{define "title"}}Projects{{end}}
{{define "description"}}A collection of projects that I maintain{{end}}
{{define "additionalhead"}}{{end}}

{{define "main"}}
<section class="projects-main">
  <div class="pb-2">
    <h1 class="page-title">{{template "title" .}}</h1>
    <h2 class="page-description">{{template "description" .}}</h2>
  </div>
  {{range .Projects}} {{template "project" .}} {{end}}
</section>
{{end}}
