.home-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.page-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.page-description {
  color: var(--fg-lighter);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}
