.tag {
  padding: 0 10px 0 6px;
  border-radius: 0 3px 3px 0;
  color: var(--bg-darker);
  background-color: var(--special);
  position: relative;
  margin-left: 0.5rem;
  display: inline-flex;
  height: 1.25rem;
}

.tag-after {
  transform: rotate(180deg);
  left: -8px;
  border-bottom: 10px solid #0000;
  border-top: 10px solid #0000;
  border-left: 8px solid var(--special);
  position: absolute;
  top: 0;
}
